/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    outline-offset: -2px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    scrollbar-face-color: rgba(0, 0, 0, 0.5); /*滚动条3D表面（ThreedFace）的颜色*/
    scrollbar-highlight-color: transparent; /*滚动条3D界面的亮边（ThreedHighlight）颜色*/
    scrollbar-shadow-color: rgba(0, 0, 0, 0.5); /*滚动条3D界面的暗边（ThreedShadow）颜色*/
    scrollbar-3dlight-color: rgba(0, 0, 0, 0.5); /*滚动条亮边框颜色*/
    scrollbar-arrow-color: rgba(0, 0, 0, 0.5); /*滚动条方向箭头的颜色 */
    scrollbar-track-color: transparent; /*滚动条的拖动区域(TrackBar)颜色*/
    scrollbar-darkshadow-color: transparent; /*滚动条暗边框（ThreedDarkShadow）颜色*/
}

.zr-cal-header {
    display: flex;
    .zr-cal-header-button {
        cursor: pointer;
        width: 3em;
        text-align: center;
    }
    .zr-cal-header-switcher-wrap {
        flex: 1;
        text-align: center;
        .zr-cal-header-switcher {
            padding: 0.25em 0.5em;
            cursor: pointer;
        }
    }
}

.zr-cal {
    color: #0a1633;
}
.zr-cal-table {
    width: 100%;
}
.zr-cal-row {
    display: flex;
}
.zr-cal-cell {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 0.25em 0.5em;
    display: inline-block;
    user-select: none;
    box-sizing: border-box;
    &.zr-cal-active {
        background: #3860f4;
        color: white;
    }
    &.zr-cal-disabled {
        color: #cccccc;
    }
    &.zr-cal-prev,
    &.zr-cal-next {
        color: #cccccc;
        &.zr-cal-active {
            background: #d2d6ea;
        }
    }
    &.zr-cal-now {
        border: 1px solid blue;
    }
    &.zr-cal-cell-empty {
        cursor: default;
    }
}
.zr-cal-date-wrap .zr-cal-cell {
    width: 4em;
}
.zr-cal-month-wrap .zr-cal-cell {
    width: 5em;
}
.zr-cal-year-wrap .zr-cal-cell {
    width: 6em;
}
.zr-cal-decade-wrap .zr-cal-cell {
    width: 12em;
}

@-moz-document url-prefix() {
    .zr-timer-scroller:after {
        content: ' ';
        visibility: hidden;
        height: 8em;
        display: block;
    }
}

.zr-timer {
    display: flex;
    .zr-timer-wrap {
        overflow: hidden;
        display: flex;
        border: 1px solid #ccc;
        position: relative;
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            height: 1.5em;
            width: 3.5em;
            box-sizing: border-box;
            top: 8rem;
            border: 1px solid #ccc;
            border-width: 1px 0;
            pointer-events: none;
        }
        .zr-timer-scroller {
            height: 1.5em;
            padding: 8em 0;
            width: 3.5em;
            overflow-y: hidden;
            &:hover {
                overflow-y: scroll;
            }

            .zr-timer-stepper {
                width: 3em;
                text-align: center;
                line-height: 1.5em;
                // scroll-snap-align: center;
                user-select: none;
                &.zr-timer-active {
                    font-weight: bold;
                }
            }
        }
    }
}
