.zr-cal-header {
    display: flex;
    .zr-cal-header-button {
        cursor: pointer;
        width: 3em;
        text-align: center;
    }
    .zr-cal-header-switcher-wrap {
        flex: 1;
        text-align: center;
        .zr-cal-header-switcher {
            padding: 0.25em 0.5em;
            cursor: pointer;
        }
    }
}

.zr-cal {
    color: #0a1633;
}
.zr-cal-table {
    width: 100%;
}
.zr-cal-row {
    display: flex;
}
.zr-cal-cell {
    flex: 1;
    text-align: center;
    cursor: pointer;
    .zr-cal-content {
        padding: 0.25em 0.5em;
        display: inline-block;
        user-select: none;
    }
    &.zr-cal-active {
        .zr-cal-content {
            background: #3860f4;
            color: white;
        }
    }
    &.zr-cal-disabled {
        color: #cccccc;
    }
    &.zr-cal-prev,
    &.zr-cal-next {
        color: #cccccc;
        &.zr-cal-active {
            .zr-cal-content {
                background: #d2d6ea;
            }
        }
    }
}
.zr-cal-date-wrap .zr-cal-content {
    width: 4em;
}
.zr-cal-month-wrap .zr-cal-content {
    width: 5em;
}
.zr-cal-year-wrap .zr-cal-content {
    width: 6em;
}
.zr-cal-decade-wrap .zr-cal-content {
    width: 12em;
}

.zr-timer {
    display: flex;
    .zr-timer-wrap {
        overflow: hidden;
        display: flex;
        border: 1px solid #ccc;
        position: relative;
        &::after {
            content: ' ';
            display: block;
            position: absolute;
            height: 1.5em;
            width: 3em;
            box-sizing: border-box;
            top: 5rem;
            border: 1px solid #ccc;
            border-width: 1px 0;
            pointer-events: none;
        }
        .zr-timer-scroller {
            height: 1.5em;
            padding: 5em 0;
            // scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
            overflow-y: hidden;
            &:hover {
                overflow-y: scroll;
            }

            .zr-timer-stepper {
                width: 3em;
                text-align: center;
                line-height: 1.5em;
                // scroll-snap-align: center;
                user-select: none;
                &.zr-timer-active {
                    font-weight: bold;
                }
            }
        }
    }
}
